<header>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/contact">Admin</a></li>
        <li><a routerLink="/contact">Dashboad</a></li>
        
      </ul>
      <!-- <p-button ></p-button> -->
      <!-- <button type="button" class="btn btn-info" onclick="logOut()">Info</button> -->
      <button class="text" label="sign out" (onclick)="logOut()">Log Out</button>
      
      <img src="assets/logo3.png" alt="">
    </nav>
  
  </header>
  