<app-header></app-header>
<div class="items">
    <div class="welcome_message">
        <h1>Welcome to Marriage Hub</h1>
     </div>
<div class="first_item">
    <img class="first_item_img" src="assets/first_item.jpg" alt="Not availale">
    <div class="first_item_detail">
        <p>Name: XyZhgj</p>
        <p>Education : Graduation</p>
        <p>Hobbies : Cycling , Reading</p>
        <p>Details : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsam odio accusamus, dolores et exercitationem eligendi repellat vitae quos quae iste suscipit error modi dicta. Corporis eum cupiditate ea ullam.</p>
    </div>
</div>
<div class="first_item">
    <img class="first_item_img" src="assets/first_item.jpg" alt="Not availale">
    <div class="first_item_detail">
        <p>Name: XyZhgj</p>
        <p>Education : Graduation</p>
        <p>Hobbies : Cycling , Reading</p>
        <p>Details : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsam odio accusamus, dolores et exercitationem eligendi repellat vitae quos quae iste suscipit error modi dicta. Corporis eum cupiditate ea ullam.</p>
    </div>
</div>
<div class="first_item">
    <img class="first_item_img" src="assets/first_item.jpg" alt="Not availale">
    <div class="first_item_detail">
        <p>Name: XyZhgj</p>
        <p>Education : Graduation</p>
        <p>Hobbies : Cycling , Reading</p>
        <p>Details : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsam odio accusamus, dolores et exercitationem eligendi repellat vitae quos quae iste suscipit error modi dicta. Corporis eum cupiditate ea ullam.</p>
    </div>
</div>
<div class="first_item">
    <img class="first_item_img" src="assets/first_item.jpg" alt="Not availale">
    <div class="first_item_detail">
        <p>Name: XyZhgj</p>
        <p>Education : Graduation</p>
        <p>Hobbies : Cycling , Reading</p>
        <p>Details : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsam odio accusamus, dolores et exercitationem eligendi repellat vitae quos quae iste suscipit error modi dicta. Corporis eum cupiditate ea ullam.</p>
    </div>
</div>
<div class="first_item">
    <img class="first_item_img" src="assets/first_item.jpg" alt="Not availale">
    <div class="first_item_detail">
        <p>Name: XyZhgj</p>
        <p>Education : Graduation</p>
        <p>Hobbies : Cycling , Reading</p>
        <p>Details : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsam odio accusamus, dolores et exercitationem eligendi repellat vitae quos quae iste suscipit error modi dicta. Corporis eum cupiditate ea ullam.</p>
    </div>
</div>
</div>